<h2>User info</h2>

<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <td>name</td>
      <td></td>
    </tr>

    <tr>
      <td>introduction</td>
      <td></td>
    </tr>

    <tr></tr>

  </tbody>
</table>
